.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem; }

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    
    

    &_link:link,
    &_link:visited{
        display: block;
        font-family: $font-display;
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
        padding: 2rem;
        text-transform: uppercase;
        text-align: center;
        transition: all .35s;
        font-weight: 500;
        border-radius: 10px;

        &:hover,
        &:active {
            background-color: $color-primary;
            color: $color-secondary;
            transform: translateY(-.5rem);
        }

    }
}

.copyright {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
}
